<%= render "common/admin_page_header",
           with_button: false,
           page_title: t('.title'),
           button_title: nil,
           button_url: nil
%>





<p>
  <strong><%= t('.name') %></strong>
  <%= @railway_station.title %>
</p>
<br>
<br>

<% if @railway_station.routes.empty? %>
  <div class="alert alert-info" role="alert">
    <%= t('.not_in_any_route') %>
  </div>

<% else %>
  <h5 class="text-success"><%= t('.in_routes') %></h5>
  <ul class="list-style">
    <% @railway_station.routes.each do |route| %>
      <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
