<h4><%= t('.title') %></h4>
<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col"><%= t('.name') %></th>
    <th scope="col"><%= t('.params') %></th>
    <th></th>

  </tr>
  </thead>


  <tbody>

  <% @route.railway_stations.each do |station| %>

    <tr>
      <td><%= station.title %></td>
      <td><%= render 'current_sation_list_form', route: @route, station: station %></td>
      <td><%= link_to t('common.delete'), admin_delete_from_route_path(station, @route), method: :delete, data: {confirm: t('common.confirm_delete')}, :class => 'btn btn-xs btn-danger' %></td>
    </tr>


  <% end %>
  </tbody>
</table>