<%= render "common/admin_page_header",
           with_button: false,
           page_title: 'Данные маршрута',
           button_title: nil,
           button_url: nil
%>




<p>
  <strong>Название маршрута:</strong>
  <%= @route.name %>
</p>
<br>
<br>

<% if @route.trains.empty? %>

  <%= render 'no_trains' %>
<% else %>
  <%= render 'current_trains' %>
<% end %>


<hr>

<% if @route.railway_stations.empty? %>
  <%= render 'no_stations' %>
<% else %>
  <%= render 'current_stations' %>
<% end %>
<hr>

<h4>Добавление станции в маршрут</h4>

<%= form_tag add_station_to_admin_route_path(@route), method: :post do %>

  <div class="form-group">
    <%= label_tag :railway_station %>
    <%= select_tag :railway_station_id, options_for_select(RailwayStation.pluck(:title, :id)), :class => "form-control" %>

  </div>
  <div class="form-group">
    <%= label_tag :position %>
    <%= number_field_tag :position, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= submit_tag('Добавить станцию', {:class => 'btn btn-warning'}) %>
  </div>
<% end %>


<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Назад', admin_routes_path %>
