<%= render "common/admin_page_header",
           with_button: false,
           page_title: t('.title'),
           button_title: nil,
           button_url: nil
%>




<p>
  <strong><%= t('.name') %></strong>
  <%= @route.name %>
</p>
<br>
<br>

<% if @route.trains.empty? %>

  <%= render 'no_trains' %>
<% else %>
  <%= render 'current_trains' %>
<% end %>


<hr>

<% if @route.railway_stations.empty? %>
  <%= render 'no_stations' %>
<% else %>
  <%= render 'current_stations' %>
<% end %>
<hr>

<%= render 'add_station_form' %>


<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
