<%= render "common/admin_page_header",
           with_button: false,
           page_title: t('.title'),
           button_title: nil,
           button_url: nil
%>




<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.type') %></label>
    </div>
    <div class="col-sm-9">
      <%= @car.car_type %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.attached_to_train') %></label>
    </div>
    <div class="col-sm-9">
      <% if @car.train.present? %>
        <%= link_to @car.train.number, [:admin, @car.train] %>
      <% else %>

      <% end %>


    </div>
  </div>

  <%= render "show_#{@car.type.underscore}" %>
</div>

<br>
<br>

<%= link_to t('common.edit'), edit_admin_car_path(@car) %> |
<%= link_to t('common.back'), admin_train_path(@car.train) %>
