<%= form_with(model: [train, ticket], local: true, url: ticket.new_record? ? train_tickets_path(train) : ticket_path(ticket), scope: :ticket) do |form| %>

  <%= render 'common/errors', resource: ticket %>


  <%= hidden_field_tag("ticket[train_id]", train.id) %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_station %>

    <%= form.collection_select :start_station_id, RailwayStation.in_route(train.route), :id, :title, {}, :class => "form-control", :autocomplete => "off" %>

  </div>

  <div class="form-group">
    <%= form.label :end_station %>

    <%= form.collection_select :end_station_id, RailwayStation.in_route(train.route), :id, :title, {}, :class => "form-control", :autocomplete => "off" %>

  </div>



  <div class="actions">
    <%= form.submit 'Сохранить', :class => "btn btn-success" %>
  </div>
<% end %>