<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.created_at %></td>
  <td><%= ticket.train.number if ticket.train.present? %></td>
  <td>
    <% if ticket.start_station.present? %>
      <%= ticket.start_station.title %>
      <br><span class="text-muted">(<%= l(ticket.start_station.departure_time(ticket.train.route)) %>)</span>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    <% if ticket.end_station.present? %>
      <%= ticket.end_station.title %>
      <br><span class="text-muted">(<%= l(ticket.end_station.departure_time(ticket.train.route)) %>)</span>
    <% else %>
      -
    <% end %>
  </td>
  <td><%= "#{ticket.last_name} #{ticket.first_name} #{ticket.middle_name}" %></td>

  <td><%= link_to t('common.view'), ticket, :class => 'btn btn-xs btn-info' %></td>
  <td><%= link_to t('common.delete'), ticket, method: :delete, data: {confirm: t('common.confirm_delete')}, :class => 'btn btn-xs btn-danger' %></td>
</tr>