<h1><%= t('.title') %></h1>
<hr>

<div class="form-horizontal">


  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.pessenger') %></label>
    </div>
    <div class="col-sm-9">
      <%= "#{@ticket.last_name} #{@ticket.first_name} #{@ticket.middle_name}" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.buyer') %></label>
    </div>
    <div class="col-sm-9">
      <%= "#{@ticket.user.email}" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.to_train') %></label>
    </div>
    <div class="col-sm-9">
      <%= @ticket.train.number if @ticket.train.present? %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.from_station') %></label>
    </div>
    <div class="col-sm-9">
      <% if @ticket.start_station.present? %>
        <%= @ticket.start_station.title %>
        (<%= l(@ticket.start_station.departure_time(@ticket.train.route)) %>)
      <% else %>
        <%= t('.not_set') %>

      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right"><%= t('.to_train') %></label>
    </div>
    <div class="col-sm-9">
      <% if @ticket.end_station.present? %>
        <%= @ticket.end_station.title %>
        (<%= l(@ticket.end_station.departure_time(@ticket.train.route)) %>)
      <% else %>
        <%= t('.not_set') %>
      <% end %>
    </div>
  </div>

</div>

<br>
<br>

<%= link_to t('common.to_search'), search_path(:start_station_id => @ticket.start_station_id, :end_station_id => @ticket.end_station_id) %>
|
<%= link_to t('common.back'), tickets_path %>
