<h1>Поиск</h1>

<div class="well">
  <div class="row">
    <%= form_tag search_path, method: :get, enforce_utf8: false do %>
      <div class="col-md-5">
        <div class="form-group">
          <%= label_tag "Начальная станция" %>
          <%= select_tag :start_station_id, options_for_select(RailwayStation.pluck(:title, :id), params[:start_station_id]), :class => "form-control" %>

        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= label_tag "Конечная станция" %>
          <%= select_tag :end_station_id, options_for_select(RailwayStation.pluck(:title, :id), params[:end_station_id]), :class => "form-control" %>

        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= submit_tag('Поиск', {:class => 'btn btn-warning'}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% if @routes.present? %>
  <% @routes.each do |route| %>
    <% if route.trains.present? %>
      <% route.trains.each do |train| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Поезд #<%= train.number %></strong>
            (<%= route.name %>)
          </div>
          <div class="panel-body">
            <p>Время отправления: <%= l(route.start_station.departure_time(route)) %></p>
            <p>Время прибытия: <%= l(route.end_station.arrival_time(route)) %></p>
          </div>
          <div class="panel-footer text-right">
            <%= form_tag new_train_ticket_path(train), method: :get do %>
              <%= hidden_field_tag :start_station_id, params[:start_station_id] %>
              <%= hidden_field_tag :end_station_id, params[:end_station_id] %>
              <%= submit_tag "Купить билет", :class => "btn btn-success btn-xs" %>
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% elsif params[:start_station_id] && params[:end_station_id] %>
  <%= t('.not_found') %>
<% end %>