<%= render "common/admin_page_header",
           with_button: false,
           page_title: t('.title'),
           button_title: nil,
           button_url: nil
%>





<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>

<br>
<br>

<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-4">
      <label for="brand" class="required pull-right"><%= t('.number') %></label>
    </div>
    <div class="col-sm-8">
      <%= @train.number %>
    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <label for="brand" class="required pull-right"><%= t('.route') %></label>
    </div>
    <div class="col-sm-8">
      <% if @train.route.present? %>

        <span class="text-success"><%= @train.route.name %></span>
      <% else %>
        <span class="text-danger"><%= t('.no_route') %></span>
      <% end %>

    </div>

  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <label for="brand" class="required pull-right"><%= t('.cars_order') %></label>
    </div>
    <div class="col-sm-8">
      <% if @train.cars_order %>

        <span class="text-success"><%= t('.from_end') %></span>
      <% else %>
        <span class="text-success"><%= t('.from_begin') %></span>
      <% end %>

    </div>

  </div>


  <div class="col-sm-6">
    <% Car::CAR_TYPE.each do |key, val| %>

      <div class="row">
        <div class="col-sm-8">
          <label for="brand" class="required pull-right"><%= t('.car_type', type: val[:label]) %></label>
        </div>
        <div class="col-sm-2">
          <%= @train.cars_total(key) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <% Car::CAR_TYPE.each do |key, val| %>

      <% @train.get_places(val[:class]).each do |label, place_name| %>
        <div class="row">
          <div class="col-sm-10">
            <label for="brand" class="required pull-right"><%= t('.car_type_places', type: val[:label], places: place_name) %></label>
          </div>
          <div class="col-sm-2">

            <%= @train.car_seats(key, label) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<strong><%= t('.car_list') %></strong>

<p>

  <% if @train.cars.present? %>
  <table class="table table-bordered">
    <tbody>
    <% @train.ordered_cars.each do |car| %>
      <tr>


        <td><%= link_to t('.car_label', car_number: car.number, car_type: car.car_type), admin_car_path(car) %></td>
        <td><%= link_to t('.edit_car'), edit_admin_car_path(car), :class => 'text-success' %></td>
        <td><%= link_to t('.delete_car'),
                        admin_car_path(car),
                        method: :delete,
                        data: {confirm: t('common.confirm_delete')}, :class => 'text-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('.no_cars') %>
<% end %>
</p>

<p>
  <%= link_to t('.add_car'), new_admin_train_car_path(@train), class: 'btn btn-primary' %>
</p>


