<p id="notice"><%= notice %></p>
<h1>Данные о вагоне</h1>
<hr>


<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right">Тип вагона</label>
    </div>
    <div class="col-sm-9">
      <%= @car.car_type %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-3">
      <label for="brand" class="required pull-right">Прикреплен к поезду</label>
    </div>
    <div class="col-sm-9">
      <% if @car.train.present? %>
        <%= link_to @car.train.number, @car.train %>
      <% else %>

      <% end %>


    </div>
  </div>

  <%= render "show_#{@car.type.underscore}" %>
</div>

<br>
<br>

<%= link_to 'Редактировать', edit_car_path(@car) %> |
<%= link_to 'Назад', train_path(@car.train) %>
